{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="parallax-container">
      <div class="parallax"><img  class="responsive-img" src="{%static 'img/Actopan2.jpg'%}"></div>
    </div>
<div class="section white">
    <div class="row container">
      <h3 class="header">Bienvenido/a a la nueva página de Actopan</h3>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fugiat odit, quo minima voluptatum molestias alias sed. Veritatis molestias minus obcaecati qui sit officia eos porro numquam? Aperiam consectetur, illum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fugiat odit, quo minima voluptatum molestias alias sed. Veritatis molestias minus obcaecati qui sit officia eos porro numquam? Aperiam consectetur, illum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fugiat odit, quo minima voluptatum molestias alias sed. Veritatis molestias minus obcaecati qui sit officia eos porro numquam? Aperiam consectetur, illum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fugiat odit, quo minima voluptatum molestias alias sed. Veritatis molestias minus obcaecati qui sit officia eos porro numquam? Aperiam consectetur, illum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fugiat odit, quo minima voluptatum molestias alias sed. Veritatis molestias minus obcaecati qui sit officia eos porro numquam? Aperiam consectetur, illum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fugiat odit, quo minima voluptatum molestias alias sed. Veritatis molestias minus obcaecati qui sit officia eos porro numquam? Aperiam consectetur, illum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fugiat odit, quo minima voluptatum molestias alias sed. Veritatis molestias minus obcaecati qui sit officia eos porro numquam? Aperiam consectetur, illum.</p>
    </div>
  </div>
{% endblock content %}


{% block scripts %}
<script src="{%static 'js/main.js'%}"></script>
<script>
$(document).ready(function(){
	$('.parallax').parallax();

});
</script>
	
{% endblock scripts %}